### Groupby():
In pandas, the groupby function is used to split the data into groups based on some criteria (like a column value), perform some operations on each group independently, and then combine the results back into a DataFrame or Series. It's commonly used for aggregation, transformation, and filtering operations.

In [ ]:
import pandas as pd
dt = pd.DataFrame({
    "Name" : ["Ayan", "Shaweez", "Hassan", "Hussain", "Aliyan", "Manoo"],
    "Marks": [ 54, 34, 65, 34, 65, 23 ],
    "Sub_2": [ 89, 65, 45, 74, 34, 34]
})
dt

In [ ]:
dt = pd.DataFrame({
    "Name" : ["Ayan", "Shaweez", "Hassan", "Hussain", "Aliyan", "Manoo"],
    "Sub_1": [ 54, 34, 65, 34, 65, 23 ],
    "Sub_2": [ 89, 65, 45, 74, 34, 34]
})
new = dt.groupby("Name") # mond data convert kra group ta ao Name zarighy sara mong data separate kra
for x,y in new:
    print()
    print(x)
    print("************")
    print(y)

#### get_group():
kala che mong ta specific data access kawal ghwaro like mong sara sirf da A name wala data pakar da no mong get_group parameters sara access kawalo sho.

In [ ]:
dt_1 = pd.DataFrame({
    "Name" : ["Ayan", "Shaweez", "Hassan", "Hussain", "Ayan", "Manoo", "Ayan"],
    "Sub_1": [ 54, 34, 65, 34, 65, 23, 90 ],
    "Sub_2": [ 89, 65, 45, 74, 34, 34, 89]
})
new_1 = dt_1.groupby("Name") # Name groups name de
new_1.get_group("Ayan")      # Ao da name group la ayan data rawakhla.

###### Another example:

In [ ]:
new = pd.DataFrame({
    "Name" :['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd'],
    "marks": [12, 12, 43, 23, 65, 34, 23, 76]
})
new_data= new.groupby("Name")
new_data.get_group('a')

### Sum data:

In [ ]:
dt_1 = pd.DataFrame({
    "Name" : ["Ayan", "Shaweez", "Hassan", "Hussain", "Ayan", "Manoo", "Ayan"],
    "Sub_1": [ 54, 34, 65, 34, 65, 23, 90 ],
    "Sub_2": [ 89, 65, 45, 74, 34, 34, 89]
})
dt_1['Total'] = dt_1['Sub_1']+ dt_1['Sub_2']
dt_1

full data la mong da hassan data robaso

In [ ]:
dt_1 = pd.DataFrame({
    "Name" : ["Ayan", "Shaweez", "Hassan", "Hussain", "Ayan", "Manoo", "Ayan"],
    "Sub_1": [ 54, 34, 65, 34, 65, 23, 90 ],
    "Sub_2": [ 89, 65, 45, 74, 34, 34, 89]
})
dt_1['Total'] = dt_1['Sub_1']+ dt_1['Sub_2']
dt_1
new = dt_1.groupby("Name") # data first group ta convert kra 
new.get_group("Hassan")    # ao da group zarighy sara mong de hassan data access kra

#### sum marks single categories

In [ ]:
var = pd.DataFrame({
    "Name" : ["Ayan", "hassan", "Hussain", "Ayan"],
    "Marks": [89, 43, 65, 23]
})
new = var.groupby('Name')['Marks'].sum()
new

#### Sum and Count parameters:

In [ ]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40, 50, 60],
    'Count': [1, 2, 3, 4, 5, 6]
}
# Creating a DataFrame
df = pd.DataFrame(data)
# Display the original DataFrame
print("Original DataFrame:")
print(df)
add_count = df.groupby('Category').agg({ # agg mean mong sara che danna km function apply kigy pa de processing oshe.
    'Value':'sum',    # sum value
    'Count': 'sum'    # sum count 
})
print("**************")
print(add_count)
# Aplly all parameters through agg
all_parameters = df.groupby('Category').agg({
    'Value': 'sum',
    'Value': 'mean',
    'Value': 'max',
    'Value': 'min',
    'Count': 'sum',
    'Count': 'mean',
    
})
print(all_parameters)