### Insertion:
Inserting a Column: You can insert a new column into a DataFrame using the following ways:

In [6]:
import pandas as pd
x = pd.DataFrame({"Name ": ["sayyad", "talha", "shehree","shahid"]})
print(x)
print(x.ndim)
print("Add new columns")
print()
x["Address"] =["maidan","wari","afghanistan",'peshawar']
print(x)
print(x.ndim)

     Name
0   sayyad
1    talha
2  shehree
3   shahid
2
Add new columns

     Name       Address
0   sayyad       maidan
1    talha         wari
2  shehree  afghanistan
3   shahid     peshawar
2

### Insertion():
insert a value to a specific column store data

In [7]:
x1 = pd.DataFrame({"Name ": ["sayyad", "talha", "shehree","shahid"], "Address":["maidan","wari","afghanistan",'peshawar']})
print(x1)
print()
print("Insert function use to specific index store data")
print()
x1.insert(2,"Age",[7, 3, 5, 1]) # 2 mean index 2 columns data store
x1.insert(3, "Gender", ["Male", "Female", "Male", "Female"])
print(x1)

     Name       Address
0   sayyad       maidan
1    talha         wari
2  shehree  afghanistan
3   shahid     peshawar

Insert function use to specific index store data

     Name       Address  Age  Gender
0   sayyad       maidan    7    Male
1    talha         wari    3  Female
2  shehree  afghanistan    5    Male
3   shahid     peshawar    1  Female

### inserting a Row:
 To insert a row into a DataFrame, you can use loc, append(), or concat():

### Loc():
for inserting a new row by index.

In [8]:
x2 = pd.DataFrame({"Name ": ["sayyad", "talha", "shehree","shahid"], "Address":["maidan","wari","afghanistan",'peshawar']})
print(x2)
print()
x2.loc[2]=["Hussain","wari"] # shehree replace to hussain
print(x2)
print()
x2.insert(2,"Age",[7, 3, 4, 1])  # insert new columns index 2
print(x2)

     Name       Address
0   sayyad       maidan
1    talha         wari
2  shehree  afghanistan
3   shahid     peshawar

     Name    Address
0   sayyad    maidan
1    talha      wari
2  Hussain      wari
3   shahid  peshawar

     Name    Address  Age
0   sayyad    maidan    7
1    talha      wari    3
2  Hussain      wari    4
3   shahid  peshawar    1

### concat():
concat() is a more powerful and flexible method to concatenate DataFrames. You can concatenate along rows or columns, and it gives you full control over the axis of concatenation (either rows or columns).

In [9]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
print(df1)
print(df2)
df3=pd.concat([df1,df2], axis=0)  # add columns 
print(df3)

   A  B
0  1  3
1  2  4
   A  B
0  5  7
1  6  8
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

### Adding a Column Using assign():
 The assign() method is used to add new columns or modify existing ones.

In [10]:
y = pd.DataFrame({ "Name ": ['Sayyad', 'Talha']})
print(y)
print()
y=y.assign(Age = [21, 20]) # add new columns 
print(y)

    Name
0  Sayyad
1   Talha

    Name   Age
0  Sayyad   21
1   Talha   20

### Deletion in Pandas:
### Drop a Column (Using drop()): 
 You can delete a column using the drop() method.

In [11]:
var = pd.DataFrame({1:[1, 2, 3, 4], 2: [4, 2, 1, 2], 3: [8, 6, 4, 3]})
print(var)
print()
var1 = var.drop(2, axis=0) # index 2 row wise delate data from 3 columns
print(var1)
print()
var2= var.drop(2, axis=1) # index 3 columns wise full coulumns delate
print(var2)

   1  2  3
0  1  4  8
1  2  2  6
2  3  1  4
3  4  2  3

   1  2  3
0  1  4  8
1  2  2  6
3  4  2  3

   1  3
0  1  8
1  2  6
2  3  4
3  4  3

### Drop a row(Using drop()):
you can delate a column using the drop() method.

In [12]:
var = pd.DataFrame({1:[1, 2, 3, 4], 2: [4, 2, 1, 2], 4: [8, 6, 4, 3]})
print(var)
print()
var2= var.drop(4, axis=1) # index 3 columns wise full coulumns delate
print(var2)

   1  2  4
0  1  4  8
1  2  2  6
2  3  1  4
3  4  2  3

   1  2
0  1  4
1  2  2
2  3  1
3  4  2

### Using del to Delete a Column:
 You can also delete a column using the del keyword.

In [13]:
var3 = pd.DataFrame({1:[1, 2, 3, 4], 2: [4, 2, 1, 2], 4: [8, 6, 4, 3]})
print(var3)
del var3[4]  # delete full columns
print(var3)

   1  2  4
0  1  4  8
1  2  2  6
2  3  1  4
3  4  2  3
   1  2
0  1  4
1  2  2
2  3  1
3  4  2