### melt() and pivot():
 functions are used to reshape your data for different purposes. These are powerful tools for data transformation, especially when working with wide-format and long-format data.

### melt():
The melt() function is used to convert a wide-format DataFrame (where columns are typically variables) into a long-format DataFrame (where rows represent individual observations).

pd.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None)

frame: DataFrame to be melted.
id_vars: Columns to keep as identifiers (usually categorical variables).
value_vars: Columns to unpivot (melt) into rows.
var_name: Name of the variable column in the melted DataFrame.
value_name: Name of the value column in the melted DataFrame.

In [ ]:
import pandas as pd
var = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name' :["Ayan", "Shaweez", "Hassan"],
    "Eng" : [89, 78, 98],
    'CS'  : [89, 67, 56],
    'SE'  : [90, 67, 87]
})
pd.melt(var, id_vars=['ID'], var_name='Student', value_name="Data")

### Pivot():
The pivot() function is used to reshape a DataFrame from long format to wide format, effectively "pivoting" the data based on certain columns.

DataFrame.pivot(index=None, columns=None, values=None)

index: The column to use as the new index (rows) in the reshaped DataFrame.
columns: The column to use as the new column headers.
values: The column whose values will fill the new DataFrame.

In [20]:
x = pd.DataFrame({
    'ID' :[1,2, 1, 2, 1, 2],
    'Subject':['Cs','Cs', 'SE', 'SE','Eng','Eng'],
    'Marks'  :[90, 89, 78, 54, 78, 34]
})
x.pivot(index='ID',columns='Subject', values='Marks', )

Subject  Cs  Eng  SE
ID
1        90   78  78
2        89   34  54

### Explanation:
Before: The DataFrame was in long format, where each subject score was represented in rows.
After: The pivot() function reshapes the data back to a wide format with subjects as columns and ID as rows.
Key Points:
melt(): Converts data from wide format to long format by unpivoting columns into rows.
pivot(): Converts data from long format to wide format by pivoting unique values of one column to become new columns.

### pivot_table() for Aggregation:
The pivot_table() function is similar to pivot(), but it can handle duplicate values by applying an aggregation function (like mean, sum, etc.).

#### Example: Using pivot_table()

In [ ]:
# Create a long-format DataFrame with duplicates
df = pd.DataFrame({
    'ID': [1, 2, 3, 1, 2, 3, 1, 2, 3],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science', 'English', 'English', 'English'],
    'Score': [90, 80, 70, 85, 75, 65, 88, 78, 68]
})

# Pivot the DataFrame with aggregation (average score per subject)
pivoted_df = df.pivot_table(index='ID', columns='Subject', values='Score', aggfunc='mean', margins=True) # mrgins mean find average
# df['total']= df['English']+df['Math']+df['Science']

print("Pivot Table DataFrame:")
print(pivoted_df)

Pivot Table DataFrame:
Subject  English  Math  Science        All
ID
1           88.0  90.0     85.0  87.666667
2           78.0  80.0     75.0  77.666667
3           68.0  70.0     65.0  67.666667
All         78.0  80.0     75.0  77.666667