### Merge():

In [2]:
import pandas as pd
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 4], "C":[12, 14, 14, 15]})
var3 = pd.merge(var1,var2)
print(var3)

   A   B   C
0  1  12  12
1  2  14  14
2  3  14  14
3  4  15  15

#### Apply function/Parameter on Merge:
#### how():
#### left():
#### right():
#### outer():
#### indicator():
#### Index_True():left and right

In [3]:
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 5], "C":[22, 21, 32, 43]})
var3 = pd.merge(var1,var2, how="left") # mong sra left side bandy value miss da zaka Nan raki pa right
print(var3)

   A   B     C
0  1  12  22.0
1  2  14  21.0
2  3  14  32.0
3  4  15   NaN

In [4]:
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 5], "C":[22, 21, 32, 43]})
var3 = pd.merge(var1,var2, how="right") # mong sra right side bandy value miss da zaka Nan raki pa left
print(var3)

   A     B   C
0  1  12.0  22
1  2  14.0  21
2  3  14.0  32
3  5   NaN  43

In [5]:
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 5], "C":[22, 21, 32, 43]})
var3 = pd.merge(var1,var2, how="outer") 
print(var3)

   A     B     C
0  1  12.0  22.0
1  2  14.0  21.0
2  3  14.0  32.0
3  4  15.0   NaN
4  5   NaN  43.0

In [6]:
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 5], "C":[22, 21, 32, 43]})
var3 = pd.merge(var1,var2, how="outer", indicator=True)  # che mong sara km xai k data present da
print(var3)

   A     B     C      _merge
0  1  12.0  22.0        both
1  2  14.0  21.0        both
2  3  14.0  32.0        both
3  4  15.0   NaN   left_only
4  5   NaN  43.0  right_only

In [7]:
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 5], "B":[22, 21, 32, 43]})
var3 = pd.merge(var1,var2, left_index=True, right_index=True) # mong che ghonda data show kao
print(var3)

   A_x  B_x  A_y  B_y
0    1   12    1   22
1    2   14    2   21
2    3   14    3   32
3    4   15    5   43

In [8]:
var1 = pd.DataFrame({"A": [1, 2, 3, 4], "B":[12, 14, 14, 15]})
var2 = pd.DataFrame({"A": [1, 2, 3, 5], "B":[22, 21, 32, 43]})
var3 = pd.merge(var1,var2,left_index=True, right_index=True, suffixes=("Left", "Right")) # mong che parameter change kao, ax, bx, pa zai sa name show kawal ghwaro no mong suffixes use kao.
print(var3)

   ALeft  BLeft  ARight  BRight
0      1     12       1      22
1      2     14       2      21
2      3     14       3      32
3      4     15       5      43

### Concate():

In [ ]:
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([11, 22, 33, 44])
pd.concat((s1, s2))  # Series

In [ ]:
d1 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [11, 22, 12, 43]})
d2 = pd.DataFrame({"C":[4, 3, 2, 1], "D": [12, 12, 12, 12]})
pd.concat((d1, d2), axis=1) # row and columns wise check data 1 columns and 0 rows

   A   B  C   D
0  1  11  4  12
1  2  22  3  12
2  3  12  2  12
3  4  43  1  12

#### inner():
inner mean intersection, da ba mong ta hagha omra value print k che somra element dono k mushtamil de.
#### outer():
outer mean union, che somra value equal de hagha ba print k ao kamy che paty de haghha ba NaN k.

In [22]:
d1 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [11, 22, 12, 12]})
d2 = pd.DataFrame({"C":[4, 3], "D": [12, 12]})
pd.concat((d1, d2),join="outer" ,axis=1)

   A   B    C     D
0  1  11  4.0  12.0
1  2  22  3.0  12.0
2  3  12  NaN   NaN
3  4  12  NaN   NaN

In [23]:
d1 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [11, 22, 12, 12]})
d2 = pd.DataFrame({"C":[4, 3], "D": [12, 12]})
pd.concat((d1, d2),join="inner" ,axis=1)

   A   B  C   D
0  1  11  4  12
1  2  22  3  12

#### Key():
key mong de dapara use kao, kala che mong da varibale name wrko ao merge k dataFrame.

In [ ]:
d1 = pd.DataFrame({"A": [1, 2, 3, 4], "B": [11, 22, 12, 12]})
d2 = pd.DataFrame({"C":[4, 3,32, 12], "D": [12, 12,12, 12]})
pd.concat((d1, d2), keys=["d1","d2"], axis=1) # D1 and d2 value seprate print.

  d1      d2
   A   B   C   D
0  1  11   4  12
1  2  22   3  12
2  3  12  32  12
3  4  12  12  12